form {
    margin: 100px auto;
    max-width: 500px;
}

input {
    -webkit-appearance: none;
    border-radius: 0;

    width: 100%;
    padding: 10px 10px 10px 30px;
    background-color: white;
    border: 1px solid darkgray;
}

input:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkgray;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: darkgray;
}

form i {
    position: absolute;
    margin: 10px 0px 10px 10px;
    color: slateblue;
}
