form {
    margin: 100px auto;
    max-width: 500px;
    display: flex;
}

/*input {
    -webkit-appearance: none;
    border-radius: 0;

    flex: 1;
    padding: 10px;
    margin:0;
    background-color: white;
    border: 1px solid darkgray;
    border-right: 0;
}*/

input {
    color: dimgray;
    font-size: 1.1em !important;
}

.container-1 {
    margin: 100px auto;
    max-width: 500px;
    display: flex;
}

.container-1 > div {
    flex: 1;
}

input:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkgray;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: darkgray;
}

button.gsc-search-button {
    margin: 0;
    padding: 10px 50px;
    color: slateblue;
    background-color: white;
    border: 1px solid slateblue;
    border-radius: 0;
    transition-duration: 0.5s;
    transition-property: color background-color;
}

button.gsc-search-button:hover {
    color: white;
    background-color: slateblue;
    cursor: pointer;
}

button.gsc-search-button:focus {
    box-shadow: none;
    background-color: slateblue;
}

button.gsc-search-button svg {
    fill: slateblue;
    transition-duration: 0.5s;
}

button.gsc-search-button:focus svg {
    fill: white;
}

button.gsc-search-button:hover svg {
    fill: white;
}

td.gsc-input {
    padding: 0 !important;
    border: 1px solid gainsboro;
    border-radius: 0;
}

div.gsc-input-box {
    border: none;
}