form {
    margin: 100px auto;
    max-width: 500px;
    display: flex;
}

input {
    -webkit-appearance: none;
    border-radius: 0;

    flex: 1;
    padding: 10px;
    background-color: white;
    border: 1px solid darkgray;
    border-left: 0;
    transition-duration: 0.5s;
    transition-property: background-color;
}

input:focus {
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darkgray;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darkgray;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: darkgray;
}

form i {
    padding: 10px 0px 10px 10px;
    color: slateblue;
    border: 1px solid darkgray;
    border-right: 0;
}

button {
    padding: 0 40px;
    color: slateblue;
    background-color: white;
    border: 1px solid slateblue;
    transition-duration: 0.5s;
    transition-property: color background-color;
}