form {
    margin: 50px auto;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}

label {
    margin: 0 5px;
}

input {
    -webkit-appearance: none;
    border-radius: 0;

    margin: 5px;
    padding: 10px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    transition-duration: 0.5s;
    transition-property: background-color;
}

input:focus {
    outline: none;
    background-color: white;
}

textarea {
    -webkit-appearance: none;

    margin: 5px;
    padding: 10px;
    min-height: 200px;
    background-color: whitesmoke;
    border: 1px solid darkgray;
    transition-duration: 0.5s;
    transition-property: background-color;
}

textarea:focus {
    outline: none;
    background-color: white;
}

button {
    margin: 5px auto;
    padding: 10px 50px;
    color: slateblue;
    background-color: white;
    border: 1px solid slateblue;
    transition-duration: 0.5s;
    transition-property: color background-color;
}

button:hover {
    color: white;
    background-color: slateblue;
    cursor: pointer;
}
